#set($title = "Booking " + $hotel.hotelName)
<section class="space-xs">
    <div class="container">

        <div class="stepper stepper-booking">
            <ul class="clearfix">
                <li>1. Select your room</li>
                <li class="active">2. Enter booking and your details</li>
                <li>3. Confirm your reservation</li>
            </ul>
        </div>

        <div id="main-contents">
            <div id="main">
                <div class="booking-detail booking-detail-overview">
                    <div class="booking-detail-titles">
                        <div class="booking-detail-title">$hotel.hotelName
                            <div class="booking-detail-meta inline">
                                <div class="rate"><span class="rate5"></span></div>
                                <span class="review-total">$hotel.reviews review#if($hotel.reviews > 1)s#end</span>
                                <!--<a href="#" class="booking-detail-showmap">Show on Map</a>-->
                            </div>
                        </div>
                        #if(!$hotel.address.equals(""))
                        <div class="booking-detail-address">$hotel.address</div>
                        #end
                    </div>
                    <div class="booking-detail-body clearfix">
                        <!--
                        <figure>
                            <img src="images/temp/temp_hotel001_150x95.jpg" alt="">
                        </figure>
                        -->
                        <hgroup>
                            <ul>
                                <li><label>Check-in :</label>$checkIn</li> ##Thursday, Oct 20, 2016
                                <li><label>Check-out :</label>$checkOut</li> ##Saturday, Oct 22, 2016
                                <li><label>Total length of stay :</label>$duration night#if($duration > 1)s#end, $noOfRooms Room#if($noOfRooms > 1)s#end, $noOfAdults Adults, $noOfChild Child#if($noOfChild > 1)s#end</li>
                                <!--<li><label>Rooms :</label>2 x Standard Main Wing</li>-->
                            </ul>
                        </hgroup>
                    </div>
                    <!--<a href="#" class="btn btn-sm btn-default change-dates">Change Dates</a>-->
                </div>
                <div class="booking-detail">
                    <div class="booking-detail-heading grayed">
                        <h3 class="has-icon icon-building">Room Information</h3>
                    </div>
                    <div class="booking-detail-body">
                        <hgroup>
                            <div class="booking-room-info">
                                <ul>
                                    <li><label>Room Type :</label>
                                        <p><i class="ico ico-circle-building"></i>$roomtext</p>
                                    </li>
                                    <li><label>Policies :</label>
                                        <p class="text-blue"><i class="ico ico-circle-thumbsup"></i>$cancellationpolicy</p>
                                        <p class="text-blue"><i class="ico ico-circle-hanger"></i>Change name policy:$changenamepolicy</p>
                                        <p class="text-blue"><i class="ico ico-circle-hanger"></i>Amendment policy:$amendmentpolicy</p>
                                    </li>
                                </ul>
                            </div>
                        </hgroup>
                    </div>
                </div>


                <div class="booking-detail">
                    <div class="booking-detail-heading grayed">
                        <h3 class="has-icon icon-guests">Hotel Guest Details</h3>
                    </div>
                    <div class="booking-detail-body">
                        <div class="booking-room-form inputs-default">
                        #set($i = 0)
                        #foreach($roomrequest in $requestrooms)
                            <div class="row gutter10">
                                <div class="col-md-3">
                                    <label>Room Type</label>
                                    <label class="text-purple">$roomrates.get($i).roomName</label>
                                </div>
                                <div class="col-md-9">
                                    #set($j = 0)
                                    #set($adults = $roomrequest.adults)
                                    #set($children = $roomrequest.children)
                                    #if($adults > 0)
                                    #foreach($j in [1..$adults])
                                    <div class="row gutter5">
                                        <div class="col-md-2">
                                            <label>Title</label>
                                            <select class="form-control">
                                                <option value="" selected>Mr</option>
                                                <option value="">Ms</option>
                                            </select>
                                        </div>
                                        <div class="col-md-5">
                                            <label>First Name</label>
                                            <input type="text" class="form-control" placeholder="" maxlength="31" oninput="inputValToUpperCase(this)" onpropertychange="inputValToUpperCase(this)">
                                        </div>
                                        <div class="col-md-5">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control" placeholder="" maxlength="31" oninput="inputValToUpperCase(this)" onpropertychange="inputValToUpperCase(this)">
                                        </div>
                                    </div>
                                    <hr class="break break10">
                                    #end
                                    #end
                                    #if($children > 0)
                                    #foreach($j in [1..$children])
                                    <div class="row gutter5">
                                        <div class="col-md-2">
                                            <select class="form-control">
                                                <option value="">Child</option>
                                            </select>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" placeholder="" maxlength="31" oninput="inputValToUpperCase(this)" onpropertychange="inputValToUpperCase(this)">
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" placeholder="" maxlength="31" oninput="inputValToUpperCase(this)" onpropertychange="inputValToUpperCase(this)">
                                        </div>
                                    </div>
                                    <hr class="break break10">
                                    #end
                                    #end
                                </div>
                            </div>
                            #set($i = $i + 1)
                        #end
                        </div>
                    </div>
                </div>
                <div class="booking-detail">
                    <div class="booking-detail-heading grayed">
                        <h3 class="has-icon icon-checkmark-circle">Special Request</h3>
                    </div>
                    <div class="booking-detail-body">
                        <div class="booking-room-form inputs-default">
                            <h5>Special Options</h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group"><div class="checkbox"><label><input type="checkbox" class="checkbox-square" name="specialOpt" value="1"> Except Ground Floor</label></div></div>
                                    <div class="form-group"><div class="checkbox"><label><input type="checkbox" class="checkbox-square" name="specialOpt" value="1"> Ground Floor</label></div></div>
                                    <div class="form-group"><div class="checkbox"><label><input type="checkbox" class="checkbox-square" name="specialOpt" value="1"> Honeymoon</label></div></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group"><div class="checkbox"><label><input type="checkbox" class="checkbox-square" name="specialOpt" value="1"> Adjacent Rooms</label></div></div>
                                    <div class="form-group"><div class="checkbox"><label><input type="checkbox" class="checkbox-square" name="specialOpt" value="1"> Connecting Rooms</label></div></div>
                                    <div class="form-group"><div class="checkbox"><label><input type="checkbox" class="checkbox-square" name="specialOpt" value="1"> Non-smoking Room</label></div></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group"><div class="checkbox"><label><input type="checkbox" class="checkbox-square" name="specialOpt" value="1"> Early Arrival</label></div></div>
                                    <div class="form-group"><div class="checkbox"><label><input type="checkbox" class="checkbox-square" name="specialOpt" value="1"> Late Arrival</label></div></div>
                                    <div class="form-group"><div class="checkbox"><label><input type="checkbox" class="checkbox-square" name="specialOpt" value="1"> Early Check Out</label></div></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group"><div class="checkbox"><label><input type="checkbox" class="checkbox-square" name="specialOpt" value="1"> Late Check Out</label></div></div>
                                    <div class="form-group"><div class="checkbox"><label><input type="checkbox" class="checkbox-square" name="specialOpt" value="1"> Cot</label></div></div>
                                    <div class="form-group"><div class="checkbox"><label><input type="checkbox" class="checkbox-square" name="specialOpt" value="1"> Smoking Room</label></div></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="optionTEXT"></textarea>
                            </div>
                            <a href class="btn btn-yellow" id="bookNowBTN">Booking Now<i class="ico ico-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="side" class="side-sm">
                <div class="widget widget_booking_confirmed">
                    <div class="booking-payhead">
                        <label>Payment Details</label>
                    </div>
                    <div class="booking-conf-payment">
                        <div class="conf-payment-amount">
                            $availability.currency $totalrate
                        </div>
                        <div class="conf-payment-notes">
                            <!--<div>Private Sale : <span class="text-red">save 50%<span></div>-->
                            <div>Total Charges Inclusive Taxes and Fees</div>
                        </div>
                    </div>
                    <div class="booking-conf-prices">
                        <ul>
                            <li>
                                <div class="conf-price-label">Check In</div>
                                <div class="conf-price-amount">$checkIn</div>
                            </li>
                            <li>
                                <div class="conf-price-label">Check Out</div>
                                <div class="conf-price-amount">$checkOut</div>
                            </li>
                            <li>
                                <div class="conf-price-label">Room :</div>
                                <div class="conf-price-amount">$roomtext</div>
                            </li>
                        </ul>
                    </div>

                    <div class="booking-conf-payment-proceed">
                        <a href="/hotel/bookingconfirm/9098/100023" class="btn btn-block">TEST TO BOOKING CONFIRM PAGE<i class="ico ico-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>