#set($title = "$order.hotelName")
<!-- Contents -->
<!--<div class="content">-->
    <section class="space-xs">
        <div class="container">

            <div class="stepper stepper-booking">
                <ul class="clearfix">
                    <li>1. Select your room</li>
                    <li>2. Enter booking and your details</li>
                    <li class="active">3. Confirm your reservation</li>
                </ul>
            </div>

            <div class="alert alert-success alert-icon">
                <span class="text-green">Your booking Confirmed.</span> Your credit card has beed charged the full amount of this Booking. Thank you.
            </div>

            <div id="main-contents">
                <div id="main">
                    <div class="row gutter10">
                        <div class="col-sm-4">
                            <a href="#" class="btn btn-block btn-flat"><i class="ico ico-booking-print"></i>VIEW AND PRINT VOUCHER</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" class="btn btn-block btn-flat"><i class="ico ico-booking-email"></i>SEND VOUCHER AS EMAIL</a>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" class="btn btn-block btn-flat"><i class="ico ico-booking-cancel"></i>CANCEL BOOKING</a>
                        </div>
                    </div>
                    <hr class="break break20">
                    <div class="booking-detail booking-detail-overview">
                        <div class="booking-detail-titles">
                            <div class="booking-detail-title">$order.hotelName</div>
                            <div class="booking-detail-meta">
                                #set($rating = $order.hotel.starRating/10.0)
                                #set($starrating=$math.round($rating))
                                <div class="rate"><span class="rate$starrating"></span></div>
                                <span class="review-total">$order.hotel.reviews reviews</span>
                                <span>$order.hotel.address</span>
                                <!--<a href="#" class="booking-detail-showmap">Show on Map</a>-->
                            </div>
                        </div>
                        <div class="booking-detail-body">
                            <!--
                            <figure>
                                <img src="images/temp/temp_hotel001_150x95.jpg" alt="">
                            </figure>
                            -->
                            <hgroup>
                                #if($order.hotel.telephone)
                                    <label>Phone Number</label>
                                    <p>$order.hotel.telephone</p>
                                #end

                            </hgroup>
                        </div>
                    </div>
                    <div class="booking-detail">
                        <div class="booking-detail-heading">
                            <h3 class="has-icon icon-room">Your Room Information</h3>
                        </div>
                        <div class="booking-detail-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Room Name</th>
                                    <th>Guest Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Superior Room, 1</td>
                                    <td>Andrew Xu</td>
                                </tr>
                                <tr>
                                    <td>Superior Room, 1</td>
                                    <td>Andrew Xu</td>
                                </tr>
                                <tr>
                                    <td>Superior Room, 1</td>
                                    <td>Andrew Xu</td>
                                </tr>
                                <tr>
                                    <td>Superior Room, 1</td>
                                    <td>Andrew Xu</td>
                                </tr>
                                <tr>
                                    <td>Superior Room, 1</td>
                                    <td>Andrew Xu</td>
                                </tr>
                                <tr>
                                    <td>Superior Room, 1</td>
                                    <td>Andrew Xu</td>
                                </tr>
                                <tr>
                                    <td>Superior Room, 1</td>
                                    <td>Andrew Xu</td>
                                </tr>
                                <tr>
                                    <td>Superior Room, 1</td>
                                    <td>Andrew Xu</td>
                                </tr>
                                <tr>
                                    <td>Superior Room, 1</td>
                                    <td>Andrew Xu</td>
                                </tr>
                                <tr>
                                    <td>Superior Room, 1</td>
                                    <td>Andrew Xu</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="booking-detail">
                        <div class="booking-detail-heading">
                            <h3 class="has-icon icon-checkmark-square">Checkin Informations</h3>
                        </div>
                        <div class="booking-detail-body">
                            <hgroup>
                                <ul class="checkmark-circle">
                                    <li>Extra person charges may apply and vary depending on holel policy.</li>
                                    <li>Government - issues photo identifications and a credit card or cash deposit are required at checkin for incidental charges.</li>
                                    <li>Special requests are subject to availabilty upon check-in and may incur additional charges.</li>
                                    <li>Specal request cannot be Guarandeed.</li>
                                </ul>
                            </hgroup>
                        </div>
                    </div>
                    <div class="booking-detail">
                        <div class="booking-detail-heading">
                            <h3 class="has-icon icon-checkmark-square">Important Notes</h3>
                        </div>
                        <div class="booking-detail-body">
                            <hgroup>
                                <ul class="checkmark-circle">
                                    <li>Extra person charges may apply and vary depending on holel policy.</li>
                                    <li>Government - issues photo identifications and a credit card or cash deposit are required at checkin for incidental charges.</li>
                                    <li>Special requests are subject to availabilty upon check-in and may incur additional charges.</li>
                                    <li>Specal request cannot be Guarandeed.</li>
                                </ul>
                            </hgroup>
                        </div>
                    </div>
                </div>

                <div id="side">
                    <div class="widget widget_booking_confirmed">
                        <div class="booking-ref">
                            <label>Booking Reference</label>
                            <div class="booking-ref-num"># 23456780234</div>
                        </div>
                        <div class="booking-conf-dates">
                            <label>Booking Confirmed</label>
                            <ul>
                                <li>
                                    <div class="conf-dates-label">Check - in</div>
                                    <div class="conf-dates-date">October 25, 2016</div>
                                </li>
                                <li>
                                    <div class="conf-dates-label">Check - out</div>
                                    <div class="conf-dates-date">November 1, 2016</div>
                                </li>
                            </ul>
                        </div>
                        <div class="booking-conf-prices">
                            <ul>
                                <li>
                                    <div class="conf-price-label">Nightly price /room :</div>
                                    <div class="conf-price-amount">$124.47</div>
                                </li>
                                <li>
                                    <div class="conf-price-label">1 Room x 1 Night :</div>
                                    <div class="conf-price-amount">$124.47 <span class="ico ico-question-circle"><span></div>
                                </li>
                                <li>
                                    <div class="conf-price-label">Taxes and fees :</div>
                                    <div class="conf-price-amount">$23.70</div>
                                </li>
                            </ul>
                        </div>
                        <div class="booking-conf-prices">
                            <ul>
                                <li>
                                    <div class="conf-price-label">Total charges :</div>
                                    <div class="conf-price-amount">$148.17</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
<!--</div>-->
