#set($title = $hotel.hotelName)
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIDc54HZ6VYORNKbMdbE3OJzXZp0dppn4&callback=initMap"></script>
<script>
    function initMap() {
        var location = {lat: $hotel.latitude, lng: $hotel.longitude};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>
<section class="hotel-heading">
    <div class="container">
        <div class="hotel-heading-rates">
            <div class="heading-rates-score">
                #set($scoreInt=$hotel.score/10.0)
                #if($hotel.score >= 90)
                    Wonderful $scoreInt
                #elseif($hotel.score >= 80)
                    Very good $scoreInt
                #elseif($hotel.score >= 70)
                    Good $scoreInt
                #elseif($hotel.score > 60)
                    Pleasant $scoreInt
                #else

                #end
            </div>
            <div class="heading-rates-reviews">$hotel.reviews review#if($hotel.reviews > 1)s#end</div>
            <!--<div class="heading-rates-source">booking.com</div>-->
        </div>
        <div class="hotel-heading-title">$hotel.hotelName</div>
        <div class="hotel-heading-meta">
            #set($rating = $hotel.starRating/10.0)
            #set($starrating=$math.round($rating))
            <div class="rate"><span class="rate$starrating"></span></div>
            <!--<span class="review-total"> (5/5 by China National Tourism Administration)</span>-->
        </div>
        <div class="hotel-heading-address">$hotel.address<a href="#" data-toggle="modal" data-target="#hotelMap">Show Map</a></div>
    </div>
</section>

<section class="space-xs">
    <div class="container">

        <div id="main-contents">
            <div id="main">
                <div class="row gutter0 hotel-images">
                    #if($hotel.pictures)
                        <div class="col-md-9 hotel-images-slide">
                            <ul id="imagesSlide">
                                #foreach($image in $hotel.pictures)
                                    <li><img src="$imgBaseUrl$image" alt=""></li>
                                #end
                            </ul>
                        </div>
                        <div class="col-md-3 hotel-images-thumb">
                            <ul id="thumbsSlide" class="clearfix">
                                <li>
                                    #foreach($image in $hotel.pictures)
                                        #set($i = $foreach.count - 1)
                                        #if($i>9)
                                            <a style="display:none;" data-slide-index="$i" href="#"><img src="$imgBaseUrl$image!small" alt=""></a>
                                        #else
                                            <a data-slide-index="$i" href="#"><img src="$imgBaseUrl$image!small" alt=""></a>
                                        #end

                                    #end
                                </li>
                            </ul>
                        </div>
                    #else
                    ##Display thumnail
                    <div class="col-md-9 hotel-images-slide">
                        <ul id="imagesSlide">
                            <li><img src="$imgBaseUrl$hotel.pictureId" alt=""></li>
                        </ul>
                    </div>
                    <div class="col-md-3 hotel-images-thumb">
                        <ul id="thumbsSlide" class="clearfix">
                            <li><img src="$imgBaseUrl$pictureId" alt=""></li>
                        </ul>
                    </div>
                    #end
                </div>

                <div class="booking-detail">
                    <div class="booking-detail-heading">
                        <h3 class="has-icon icon-calendar text-purple-dark">AVAILABILITY AT $hotel.hotelName</h3>
                    </div>
                    <div class="booking-detail-body">
                        <div class="hotel-form-checkin inputs-default">
                            <div class="row gutter7">
                                <div class="col-md-2">
                                    <label>Checkin</label>
                                    <div class="has-icon">
                                        <span class="icon-calendar"></span>
                                        <input type="text" class="form-control" id="dateCheckin" name="checkIn" value="$request.request.checkIn" placeholder="Checkin" />
                                        <div class="calendardaten"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label>Checkout</label>
                                    <div class="has-icon">
                                        <span class="icon-calendar"></span>
                                        <input type="text" class="form-control" id="dateCheckout" name="checkOut" placeholder="Checkout" value="$request.request.checkOut" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Rooms Adults (+18), Children (0-17)</label>
                                    <div class="dropdown dropdown-room has-selector">
                                        <span class="lang-en lang-active"></span>
                                        <a href="#" class="form-control dropdown-toggle">2 Rooms, 2 Adults, 2 Children</a>
                                        <div class="dropdown-menu">
                                            <div class="form-group-qty clearfix">
                                                <label>Room</label>
                                                <div id="controlQty" class="input-group">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-min"></button>
                                                    </div>
                                                    <input type="text" class="form-control" value="2">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-plus"></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="form-group-room">
                                                <li>
                                                    <div class="form-group-room-title">ROOM 1</div>
                                                    <div class="form-group">
                                                        <label>Room Type</label>
                                                        <select class="selector" style="width:100%;">
                                                            <option value="">Single</option>
                                                            <option value="">Double</option>
                                                        </select>
                                                    </div>
                                                    <div class="row gutter5">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Adults (+18)</label>
                                                                <select class="selector" style="width:100%;">
                                                                    <option value="">1</option>
                                                                    <option value="" selected>2</option>
                                                                    <option value="">3</option>
                                                                    <option value="">...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Children (0-17)</label>
                                                                <select class="selector" style="width:100%;">
                                                                    <option value="" selected>1</option>
                                                                    <option value="">2</option>
                                                                    <option value="">3</option>
                                                                    <option value="">...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row gutter5">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Child 1 Age</label>
                                                                <select class="selector" style="width:100%;">
                                                                    <option value="">1</option>
                                                                    <option value="">2</option>
                                                                    <option value="">3</option>
                                                                    <option value="">4</option>
                                                                    <option value="">5</option>
                                                                    <option value="" selected>6</option>
                                                                    <option value="">...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Child 1 Age</label>
                                                                <select class="selector" style="width:100%;">
                                                                    <option value="">1</option>
                                                                    <option value="">2</option>
                                                                    <option value="">3</option>
                                                                    <option value="">4</option>
                                                                    <option value="">5</option>
                                                                    <option value="" selected>6</option>
                                                                    <option value="">...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Child 1 Age</label>
                                                                <select class="selector" style="width:100%;">
                                                                    <option value="">1</option>
                                                                    <option value="">2</option>
                                                                    <option value="">3</option>
                                                                    <option value="">4</option>
                                                                    <option value="">5</option>
                                                                    <option value="" selected>6</option>
                                                                    <option value="">...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="form-group-room-title">ROOM 2</div>
                                                    <div class="form-group">
                                                        <label>Room Type</label>
                                                        <select class="selector" style="width:100%;">
                                                            <option value="">Single</option>
                                                            <option value="">Double</option>
                                                        </select>
                                                    </div>
                                                    <div class="row gutter5">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Adults (+18)</label>
                                                                <select class="selector" style="width:100%;">
                                                                    <option value="">1</option>
                                                                    <option value="" selected>2</option>
                                                                    <option value="">3</option>
                                                                    <option value="">...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Children (0-17)</label>
                                                                <select class="selector" style="width:100%;">
                                                                    <option value="" selected>1</option>
                                                                    <option value="">2</option>
                                                                    <option value="">3</option>
                                                                    <option value="">...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row gutter5">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Child 1 Age</label>
                                                                <select class="selector" style="width:100%;">
                                                                    <option value="">1</option>
                                                                    <option value="">2</option>
                                                                    <option value="">3</option>
                                                                    <option value="">4</option>
                                                                    <option value="">5</option>
                                                                    <option value="" selected>6</option>
                                                                    <option value="">...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Child 1 Age</label>
                                                                <select class="selector" style="width:100%;">
                                                                    <option value="">1</option>
                                                                    <option value="">2</option>
                                                                    <option value="">3</option>
                                                                    <option value="">4</option>
                                                                    <option value="">5</option>
                                                                    <option value="" selected>6</option>
                                                                    <option value="">...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label>Child 1 Age</label>
                                                                <select class="selector" style="width:100%;">
                                                                    <option value="">1</option>
                                                                    <option value="">2</option>
                                                                    <option value="">3</option>
                                                                    <option value="">4</option>
                                                                    <option value="">5</option>
                                                                    <option value="" selected>6</option>
                                                                    <option value="">...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <label>&nbsp;</label>
                                    <button type="submit" class="btn btn-md btn-block btn-flat-purple arrow-right booknow" data-hotelid="$hotel.hotelId">BOOK NOW</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="rooms">
                    <div class="rooms-head">
                        <div class="room-type">Room Type</div>
                        <div class="room-breakfast">Breakfast</div>
                        <div class="room-policy">Policy</div>
                        <div class="room-price">Price</div>
                        <div class="room-action"></div>
                    </div>
                    <div class="rooms-body">
                        #set($i = 0)
                        #foreach($availability in $availabilities)
                            <div class="room-item">
                                <div class="room-type">$availability.hotelRooms.rooms[0].roomName</div>
                                <div class="room-breakfast">
                                    #if($availability.hotelRooms.meal.breakfastDescription != "")
                                        $availability.hotelRooms.meal.breakfastDescription
                                    #elseif($availability.hotelRooms.meal.mealDescription != "")
                                        $availability.hotelRooms.meal.mealDescription
                                    #elseif($availability.hotelRooms.meal.breakfast == "true")
                                        Available
                                    #else
                                        No Breakfast
                                    #end
                                </div>
                                <div class="room-policy">
                                    #if($availability.hotelRooms.policies.policies)
                                        <!--<a href="#" class="text-blue view-policy" data-request='$policyRequests.get($i)'>View Policy</a>-->
                                        <div class="room-policy">Free Cancellation<span class="ico ico-question-circle-purple" data-toggle="tooltip" title="" data-original-title="Free cancellation can be made before 2017-05-04T23:59:59"></span></div>
                                    #else
                                        <a href="javascript:void(0);" class="text-blue xhrGetPolicy" data-request='$policyRequests.get($i)'>View Policy</a>
                                    #end
                                    <!--
                                    <span class="ico ico-question-circle-purple" data-toggle="tooltip" title="Policy information goes here..."></span>
                                    <div class="policy-html panel panel-body hide" style="position: absolute; z-index: 2000; border: 1px solid #CCC;">
                                        <button type="button" class="close view-policy"><span>×</span></button>
                                        <div>
                                            Policy content shows here
                                        </div>
                                    </div>
                                    -->
                                </div>
                                <div class="room-price">
                                    #if($formatter.getPercentage($availability.totalRate, $availability.totalOriginalRate) > 0)
                                    <div class="price-discount">
                                        <div class="price-discount-percentage">$formatter.getPercentage($availability.totalRate, $availability.totalOriginalRate)%</div>
                                        <div class="price-discount-amount">$formatter.getCurrency($availability.currency) $formatter.subtractDiscount($availability.totalRate, $availability.totalOriginalRate)</div>
                                    </div>
                                    #end
                                    <div class="price-amount">
                                        <div class="price-amount-value">$formatter.getCurrency($availability.currency) $availability.totalRate <!--<span class="ico ico-question-circle-purple" data-toggle="tooltip" title="Price information goes here..."></span>--></div>
                                        <!--<div class="price-amount-notes">Rooms per night</div>-->
                                        <div class="price-amount-notes">Total rate</div>


                                    </div>
                                </div>
                                <div class="room-action">
                                    <a href="#" data-hotelid="$availability.hotelId" data-request='$verifyRequests.get($i)' data-queryid="$queryId" class="btn btn-block btn-flat-purple booknow">BOOK NOW<span class="ico ico-arrow-right"></span></a>
                                </div>
                            </div>
                            #set($i = $i + 1)
                        #end
                    </div>
                </div>

                <div class="booking-detail">
                    <div class="booking-detail-heading">
                        <h3 class="has-icon icon-statistic text-purple-dark">WHAT’S IN THE HOTEL</h3>
                    </div>
                    <div class="booking-detail-body">
                        <ul class="facilities">
                            #foreach($category in $hotelFacilities.keySet())
                                <li>
                                    <label>$category</label>##$facility
                                    <div class="facility-list">
                                        <!--
                                            <a href="#" class="toggle-facilities">Show more <span class="ico ico-arrow-bottom"></span></a>
                                        -->
                                        <ul class="clearfix">
                                            #foreach($item in $hotelFacilities.get($category))

                                                    <li><!--<i class="fac-wifi"></i>-->$item</li>
                                            #end
                                        </ul>
                                        <!--
                                        <div class="facility-list-more">
                                            <ul class="clearfix">
                                                #foreach($item in $hotelFacilities.get($category))
                                                    #if($foreach.index > 4)
                                                    <li>$item</li>
                                                    #end
                                                #end
                                            </ul>
                                        </div>
                                        -->
                                    </div>
                                </li>
                            #end
                        </ul>
                    </div>
                </div>

                <div class="booking-detail">
                    <div class="booking-detail-heading">
                        <h3 class="has-icon icon-thumbsup text-purple-dark">GOOD TO KNOW</h3>
                    </div>
                    <div class="booking-detail-body">
                        <ul class="facilities">
                        #foreach($category in $hotelPolicies.keySet())
                            <li>
                                <label>$category</label>
                                <div class="facility-list">
                                    <!--<a href="#" class="toggle-facilities">Show more <span class="ico ico-arrow-bottom"></span></a>-->
                                    <ul class="clearfix">
                                    #foreach($item in $hotelPolicies.get($category))
                                        <li><!--<i class="fac-wifi"></i>-->$item</li>
                                    #end
                                    </ul>
                                    <!--
                                    <div class="facility-list-more">
                                        <ul class="clearfix">
                                            <li><i class="fac-wifi"></i>Free Wi-Fi in all rooms</li>
                                            <li><i class="fac-wifi"></i>Wi-Fi in public area</li>
                                            <li><i class="fac-wifi"></i>Free Wi-Fi in all rooms</li>
                                            <li><i class="fac-wifi"></i>Wi-Fi in public area</li>
                                        </ul>
                                    </div>
                                    -->
                                </div>
                            </li>
                        #end
                        </ul>
                    </div>
                </div>
                <hr class="break break20">

            </div>

            <div id="side" class="side-sm">
                <!--
                    <div class="widget widget_ad">
                        <a href="#"><img src="images/temp/temp_ad_300x250.jpg" alt=""></a>
                    </div>
                -->
            </div>
        </div>

    </div>
</section>
<style>
    #map {
        height: 450px;
        width: 100%;
    }
</style>
<div class="modal fade" tabindex="-1" id="hotelMap" role="dialog"  aria-labelledby="hotelMapLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h1></h1>
            </div>
            <div id="map"></div>
        </div>
    </div>
</div>