#parse("_fragments/_search-form-modify.vm")
<!-- BREADCRUMB -->
<section class="breadcrumb-wrapper">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="#">$requestParam.getParameter("nationality")</a></li>
            <li class="active"><a href="#">$requestParam.getParameter("cityTitle")</a></li>
        </ol>
    </div>
</section>
#if($isResult)
    #set($title = "Search Result")
    <div class="space-xs pt0">
    <div class="container">
        <div id="main-contents" class="sideleft">
            #parse("pages/hotel/_filter.vm")
            <!-- Main contents -->
            <div id="main">
                <hr class="break break30">
                <ul class="filter">
                    <li><span class="filter-label">Sort by:</span></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Price <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="sortprice" data-sortprice="ascend">Lowest prices</a></li>
                            <li><a href="#" class="sortprice" data-sortprice="decend">Highest prices</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Star<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            #foreach($starRating in $starRatings)
                                <li>
                                    <label><div class="rate rate-sm rate-filter" data-starrating="$starRating"><span class="rate$starRating"></span></div> stars ($starRatingCounts.get($starRating))</label>
                                </li>
                            #end
##                            #foreach($starRating in $starRatings)
##                                <li><a href="#" class="xhr-sort-pricerate"><div data-rating="$starRating" class="rate rate-sm"><span class="rate$starRating"></span></div> $starRating star#if($starRating > 1)s#end</a></li>
##                            #end
                        </ul>
                    </li>
                </ul>

                <ul class="items">
                    #foreach($availabilities in $searchResponse.hotelAvailabilities)
                        #set($hotel = $availabilities.hotel)
                        <li class="item clearfix" data-hotelname="$hotel.hotelName" data-starrating="$hotel.getStarRatingSimple()" data-lowestrate="$availabilities.lowestRate" data-reviewscore="$hotel.score">
                            <figure>
                                <a href="#"><img src="${pictureUrl}$hotel.pictureId"  style="min-height: 231px;" alt=""></a>
                            </figure>
                            <hgroup>
                                <div class="item-header">
                                    <div class="item-header-title">
                                        <div class="item-header-rates">
                                            <div class="item-header-score">
                                                #if($hotel.score >= 90)
                                                    Wonderful $hotel.getScoreInt()
                                                #elseif($hotel.score >= 80)
                                                    Very good $hotel.getScoreInt()
                                                #elseif($hotel.score >= 70)
                                                    Good $hotel.getScoreInt()
                                                #elseif($hotel.score > 60)
                                                    Pleasant $hotel.getScoreInt()
                                                #else

                                                #end
                                            </div>
                                            <div class="item-header-reviews">$hotel.reviews review#if($hotel.reviews > 1)s#end</div>
                                        </div>
                                        $hotel.hotelName
                                        <div class="rate"><span class="rate$hotel.getStarRatingSimple()"></span></div>
                                    </div>
                                    <div class="item-header-meta">$hotel.address</div>
                                </div>
                                <div class="item-options">
                                    <div class="item-option room-avail item-option-heading">
                                        <div class="item-option-roomtype">Room Type</div>
                                        <div class="item-option-breakfast">Breakfast</div>
                                        <div class="item-option-policy">Policy</div>
                                        <div class="item-option-price">Price</div>
                                        <div class="item-option-action"></div>
                                    </div>
                                    <div class="room-avail">
                                        #foreach($availability in $availabilities.availabilities)
                                            <div class="item-option">
                                                <div class="item-option-roomtype">
                                                    #foreach($room in $availability.hotelRooms.rooms)
                                                        <div class="roomtype-name">$room.roomName $room.roomType</div>
                                                    #end
                                                </div>
                                                <div class="item-option-breakfast">
                                                    #if($availability.hotelRooms.meal.breakfastDescription != "")
                                                        $availability.hotelRooms.meal.breakfastDescription
                                                    #elseif($availability.hotelRooms.meal.mealDescription != "")
                                                        $availability.hotelRooms.meal.mealDescription
                                                    #elseif($availability.hotelRooms.meal.breakfast == "true")
                                                        Available
                                                    #else
                                                        No Breakfast
                                                    #end
                                                </div>
                                                <div class="item-option-policy">
                                                    ##if(!$availability.hotelRooms.policies && $availability.hotelRooms.policies.refundable == "true")
                                                        ##<a href="#" class="get-policy" data-roomid="">Refundable</a>
                                                    ##else
                                                        ##Non-Refundable
                                                        <a href="#" class="get-policy" data-roomid="">View Policy</a>
                                                    ##end
                                                    <span class="ico ico-question-circle" data-toggle="tooltip" title="Policy information goes here..."></span>
                                                </div>
                                                <div class="item-option-price">
                                                    <div class="price-discount">
                                                        <div class="price-discount-percentage">$formatter.getPercentage($availability.totalRate, $availability.totalOriginalRate)%</div>
                                                        <div class="price-discount-amount">$formatter.getCurrency($availability.currency) $formatter.subtractDiscount($availability.totalRate, $availability.totalOriginalRate)</div>
                                                    </div>
                                                    <div class="price-amount">
                                                        <div class="price-amount-value">$formatter.getCurrency($availability.currency) $availability.totalRate
                                                        <span class="ico ico-question-circle" data-toggle="tooltip" title="Get Price Break Down"></span></div>
                                                        <div class="price-amount-notes">Rooms per night</div>
                                                    </div>
                                                </div>
                                                <div class="item-option-action">
                                                    <a href="#" class="booknow" data-hotelid="$availability.hotelId" data-roomcode="todo">BOOK NOW<span class="ico ico-arrow-right-sm"></span></a>
                                                </div>
                                            </div>
                                        #end
                                    </div>
                                </div>
                                <div class="item-footer">
                                    <a href="/hotel/detail?hotelId=$hotel.hotelId" class="seeall">SEE ALL ROOM OPTIONS</a> <!-- data-hotelid="$hotel.hotelId" onclick="javascript: xhrRoomVerifyHref($hotel.hotelId); return false;" -->
                                </div>
                            </hgroup>
                        </li>
                    #end
                </ul>

                <hr class="break break10">
                #if($searchResponse.hotelCount > 0)
                    <div class="pagination-wrapper">
                        <ul class="pagination">
                            #if($currentPage > 1)
                                <li><a href="#" onclick="javascript: paginationHref($currentPage, window.location.hash); return false;" aria-label="Previous"><span aria-hidden="true">Prevous</span></a></li>
                            #end
                            #foreach($i in [$currentPage..$paginateElipse])
                                <li class="active"><a onclick="javascript: paginationHref($i); return false;" href="#">$i</a></li>
                            #end
                            <li><a onclick="javascript: paginationHref($nextPage, window.location.hash); return false;" href="#" aria-label="Next"><span aria-hidden="true">Next</span></a></li>
                        </ul>
                    </div>
                #end
            </div>
        </div>
    </div>
</div>
#else
    #set($title = "No Result Found")
    <div class="tabled-heading">
        <h2>Sorry, not result found for your request. Please try again</h2>
    </div>
#end

<div class="modal fade" tabindex="-1" role="dialog" id="no-room-modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h2>Sold Out!</h2>
                <p>Sorry, selected room is currently not available or sold out. Please select another room and try again.<br />Thank you!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>