<!DOCTYPE html>
<html lang="en-gb">
    #parse("_fragments/_header.vm")
<body>
    #if(false)
        #parse("_fragments/_nav-auth.vm")
    #else
        #parse("_fragments/_nav.vm")
    #end
    <!-- Contents -->
    <div class="content">
        $screen_content
    </div>
    #parse("_fragments/_footer.vm")
</body>
</html>
