#set($title = "Reset Password")

<!-- Contents -->
<div class="content">

    <section class="page-heading">
        <div class="container">
            <h1>Recover Your Account</h1>
        </div>
    </section>

    <section class="space-sm">
        <div class="container">

            <div class="tabled">
                <div class="tabled-body">
                    <article class="post post-default">
                        <p>If you know your username but forgot your password, enter your email address and username below. Then you will be able to reset your password.</p>
                        <form method="post" action="" class="inputs-default">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Email Address</label>
                                        <input type="email" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Username</label>
                                        <input type="text" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-purple-dark arrow-circle-right">RESET MY PASSWORD</button>
                        </form>
                    </article>
                </div>
                <hr class="tabled-divider double">
                <div class="tabled-body">
                    <article class="post post-default">
                        <p>If you forgot your username, enter your email address below. Your username will be emailed to you.</p>
                        <form method="post" action="" class="inputs-default">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">Email Address</label>
                                        <input type="email" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-purple-dark arrow-circle-right">SEND MY USERNAME</button>
                        </form>
                    </article>
                </div>
            </div>

        </div>
    </section>

</div>