<form method="get" role="form" enctype="application/x-www-form-urlencoded" action="#springUrl("/hotel/search")" name="hotelSearch">
    <div class="row gutter7">
        <div class="col-md-8">
            <div class="form-group">
                <label for="destination">Where do you want to go?</label>
                <div class="has-icon">
                    <span class="icon-pushpin"></span>
                    <input type="text" class="form-control" name="cityTitle" placeholder="City or Destinations">
                    <input type="hidden" name="cityId" value="">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Nationality</label>
                <div class="dropdown dropdown-lang has-selector">
                    <span class=" lang-active"></span><!--lang-en -->
                    <input type="text" class="form-control dropdown-toggle" id="nationalitySearch" placeholder="United Kingdom" data-toggle="dropdown">
                    <input type="hidden" name="nationalityId">
                    <div class="dropdown-menu hide" id="nationality-dropdown">
                        <ul id="ul-nationality">
##                            <li class="lang-en active">English</li>
##                            <li class="lang-gr">Germany</li>
##                            <li class="lang-fr">French</li>
##                            <li class="lang-sp">Spanich</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gutter7">
        <div class="col-md-2">
            <div class="form-group">
                <label>Checkin</label>
                <div class="has-icon">
                    <span class="icon-calendar"></span>
                    <input type="text" class="form-control" id="dateCheckin" name="checkIn" placeholder="Check-In" /><!--placeholder="dd/mm/yy"-->
                    <div class="calendardaten"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Checkout</label>
                <div class="has-icon">
                    <span class="icon-calendar"></span>
                    <input type="text" class="form-control" id="dateCheckout" name="checkOut" placeholder="Check-Out">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label>Room, Adults (18+), Children (0-17)</label>
                <div class="dropdown dropdown-room has-selector">
                    <span class="lang-en lang-active"></span>
                    <a href="#" class="form-control dropdown-toggle"><span class="roomCount">1</span> Rooms, <span class="adultCounts">2</span> Adults, <span class="childCount">2</span> Children</a>
                    <div class="dropdown-menu">
                        <div class="form-group-qty clearfix">
                            <label>Room</label>
                            <div id="controlQty" class="input-group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-min"></button>
                                </div>
                                <input type="text" class="form-control" name="noOfRooms"  value="1" readonly />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-plus"></button>
                                </div>
                            </div>
                        </div>
                        <ul class="form-group-room">
                            <li>
                                <div class="form-group-room-title">ROOM 1</div>
                                <div class="row gutter5">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Adults (+18)</label>
                                            <select class="selector" name="room1NoOfAdult" style="width:100%;">
                                                <option value="1">1</option>
                                                <option value="2" selected>2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Children (0-17)</label>
                                            <select class="selector" name="room1NoOfChild" style="width:100%;">
                                                <option value="0" selected>0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row gutter5 chdAgeDIV1"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-block btn-purple arrow-right">FIND HOTELS</button>
        </div>
    </div>
</form>
##<script type="text/javascript" src="js/jsFunctions.js"></script>
##<script type="text/javascript" src="js/jsSearch.js"></script>