#set($Integer = 0)
<section class="page-heading">
    <div class="container">
        <div class="form-search">
            <form method="get" role="form" enctype="application/x-www-form-urlencoded" action="#springUrl("/hotel/search")" name="hotelSearch">
                <div class="row gutter5">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>City for Destinations</label>
                            <div class="has-icon">
                                <span class="icon-pushpin"></span>
                                <input type="text" class="form-control" name="cityTitle" id="cityTitle" value="${requestParam.getParameter("cityTitle")}" placeholder="City or Destinations">
                                <input type="hidden" name="cityId" id="cityId" value="$requestParam.getParameter("cityId")">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Nationality</label>
                            <div class="dropdown dropdown-lang has-selector">
                                <span class=" lang-active"></span><!--lang-en -->
                                <input type="text" class="form-control dropdown-toggle" id="nationalitySearch" value="${requestParam.getParameter("nationality")}" name="nationality" placeholder="Nationality" data-toggle="dropdown">
                                <input type="hidden" name="nationalityId" id="nationalityId" value="${requestParam.getParameter("nationalityId")}">
                                <input type="hidden" name="nationalityCode" id="nationalityCode" value="${requestParam.getParameter("nationalityCode")}">
                                <input type="hidden" name="countryCode" id="countryCode" value="${requestParam.getParameter("countryCode")}">
                                <div class="dropdown-menu hide" id="nationality-dropdown">
                                    <ul id="ul-nationality"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row gutter5">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Checkin</label>
                                    <div class="has-icon">
                                        <span class="icon-calendar"></span>
                                        <input type="text" class="form-control" id="dateCheckin" name="checkIn" placeholder="Check-In" value="${requestParam.getParameter("checkIn")}" />                                        <div class="calendardaten"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Checkout</label>
                                    <div class="has-icon">
                                        <span class="icon-calendar"></span>
                                        <input type="text" class="form-control" id="dateCheckout" name="checkOut" placeholder="Check-Out" value="${requestParam.getParameter("checkOut")}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Room, Adults (18+), Children (0-17)</label>
                                    <div class="dropdown dropdown-room has-selector">
                                        <span class="lang-en lang-active"></span>
                                        <a href="#" class="form-control dropdown-toggle"><span class="roomCount">${roomcount}</span> Rooms, <span class="adultCounts">${adultcount}</span> Adults, <span class="childCount">${childcount}</span> Children</a>
                                        <div class="dropdown-menu">
                                            <div class="form-group-qty clearfix">
                                                <label>Room</label>
                                                <div id="controlQty" class="input-group">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-min"></button>
                                                    </div>
                                                    <input type="text" class="form-control" name="noOfRooms" value="${requestParam.getParameter("noOfRooms")}" readonly />
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-plus"></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="form-group-room">
                                                #set($adultStr = ${requestParam.getParameter("adults")})
                                                #set($adultArr = $adultStr.split(","))

                                                #set($childrenStr = ${requestParam.getParameter("children")})
                                                #set($childrenArr = $childrenStr.split(","))
                                                #foreach(${roomIndex} in [1..$roomcount])
                                                    <li id="roomDIV${roomIndex}">
                                                        <div class="form-group-room-title">ROOM ${roomIndex}</div>
                                                        <div class="row gutter5">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    #set($i = $roomIndex - 1)
                                                                    #set($noOfAdult = $adultArr.get($i))
                                                                    <label>Adults (+18)</label>
                                                                    <select class="selector" name="room${roomIndex}NoOfAdult" style="width:100%;">
                                                                        <option #if($noOfAdult == 1) selected #end value="1">1</option>
                                                                        <option #if($noOfAdult == 2) selected #end value="2">2</option>
                                                                        <option #if($noOfAdult == 3) selected #end value="3">3</option>
                                                                        <option #if($noOfAdult == 4) selected #end value="4">4</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    #set($noOfChild = $childrenArr.get($i))
                                                                    <label>Children (0-17)</label>
                                                                    <select class="selector" name="room${roomIndex}NoOfChild" style="width:100%;">
                                                                        <option #if($noOfChild == 0) selected #end value="0">0</option>
                                                                        <option #if($noOfChild == 1) selected #end value="1">1</option>
                                                                        <option #if($noOfChild == 2) selected #end value="2">2</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row gutter5 chdAgeDIV${roomIndex}">
                                                            #set($a = "room${roomIndex}NoOfChild")
                                                            #set($roomNoOfChild = ${requestParam.getParameter($a)})
                                                            #if($roomNoOfChild != "0" && $roomNoOfChild != "")
                                                                #foreach(${childAgeIndex} in [1..$Integer.parseInt($roomNoOfChild)])
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group">
                                                                            <label>Child $childAgeIndex Age</label>
                                                                            <select class="selector" name="room${roomIndex}child${childAgeIndex}age" style="width:100%;">
                                                                                #foreach(${age} in [0..17])
                                                                                    <option #if($age.toString().equals($requestParam.getParameter("room${roomIndex}child${childAgeIndex}age"))) selected #end value="$age">$age</option>
##                                                                                    room${roomIndex}child${childAgeIndex}age
                                                                                #end
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                #end
                                                            #end
                                                        </div>
                                                    </li>
                                                #end
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-block btn-purple arrow-right">FIND HOTELS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>